---
import Layout from '../layouts/Layout.astro';
import AppHeader from '../components/AppHeader.astro';
import ControlPanel from '../components/ControlPanel.astro';
import PreviewArea from '../components/PreviewArea.astro';
---
<Layout>
  <AppHeader />
  <div class="flex flex-col-reverse sm:flex-row flex-1 overflow-hidden">
    <ControlPanel />
    <PreviewArea />
  </div>
</Layout>